* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Hero page */
.notes-page-hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding-bottom: 20px;
    gap: 180px;
    background-color: rgb(218, 229, 245);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    gap: 10px;
}

.hero h3 {
    font-size: 35px;
}

.hero p {
    font-size: 18px;
    color: #292929;
    font-weight: 500;
}

.hero img {
    width: 550px;
    height: 250px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.end-end {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.end-end img {
    width: 14px;
    height: 18px;
}

.end-end p {
    font-size: 15px;
}

/*Notes Page*/
.notes-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.notes-div {
    width: 100%;
}

.group-session {
    display: flex;
    align-items: center;
    background-color: rgb(0, 31, 139);
}

.group-session .group-details p {
    color: white;
    font-weight: 400;
}

.group-notes {
    height: 70vh;
    background-color: #DAE5F5;
    overflow-y: auto;
}

.group-notes {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.note-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 12px 20px;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.note-text {
    font-size: 16px;
    line-height: 1.4;
    padding-top: 10px;
}

.time-div {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 10px;
}

.time-div p {
    font-size: 15px;
    font-weight: 500;
    color: #353535;
}

#dot {
    font-size: 35px;
    font-weight: bold;
}

#time {
    text-transform: uppercase;
}

#back-arrow {
    display: none;
    width: 20px;
    height: 15px;
    cursor: pointer;
}

/* notes text area */
.new-notes-form {
    min-height: 20vh;
}

/* mobiles */
@media(max-width:480px) {
    .notes-page-hero {
        display: none;
    }


    .notes-page {
        width: 100vw;
        height: 100vh;
    }

    .group-session {
        padding-left: 20px;
        gap: 10px;
    }

    .group-session .group-details {
        padding-left: 0px;
        gap: 10px;
    }

    .new-notes-form {
    height: 25vh;
    }
    .new-notes-form .new-notes .notes-input .message-box{
        min-height: 133px;
    }

    #back-arrow {
        display: block;
    }

    .note-time {
        font-size: small;
    }
}

/* Big Phones */
@media (min-width:481px) and (max-width: 640px) {

    .notes-page {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .group-session {
        padding-left: 20px;
        gap: 10px;
    }

    .group-session .group-details {
        padding-left: 0px;
        gap: 10px;
    }

    #back-arrow {
        display: block;
    }
}

/* Tablets */
@media (min-width:641px) and (max-width: 768px) {

    .hero {
        width: 100%;
        gap: 10px;
    }

    .hero h3 {
        font-size: 30px;
    }

    .hero .description p {
        font-size: 15px;
        color: #292929;
        font-weight: 500;
    }

    .hero img {
        width: 100%;
        max-width: 500px;
        height: 250px;
    }
}

/* laptops and desktops */
@media (min-width:769px) and (max-width: 1300px) {
    .hero {
        width: 100%;
    }

    .notes-page-hero {
        gap: 170px;
    }


}