.group-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 10px 40px;
}

.group-details p {
    font-size: 1.4em;
    font-weight: 500;
    color: black;
}

.group-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    flex-shrink: 0;
}

.group-icon p {
    text-transform: uppercase;
    color: white;
    font-size: large;
}
