.new-notes {
    padding: 10px;
    width: 100%;
    min-height: 100%;
    background-color: blue;
}

.notes-input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: auto;
    padding: 4px 0px 4px 4px;
}
.message-box {
    width: 100%;
    max-height: 280px;
    min-height: 125px;
    resize: none;
    padding: 10px 25px 10px 15px;
    font-size: 18px;
    outline: none;
    border-radius: 9px;
    border: 2px solid #001F8B;
    overflow-y: auto;
    line-height: 1.4;
    font-family: "Roboto", sans-serif;
}

.send-btn-div {
    display: flex;
    justify-content: end;
}

#send-btn {
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 25px;
    bottom: 25px;
    right: 20px;
}

.active-btn {
    filter: contrast(100%)
}

.inactive-btn {
    filter: contrast(20%);
    pointer-events: none;
}