@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    overflow-y: hidden;
}

.app {
    display: flex;
}

.names {
    height: 100vh;
    width: 25vw;
}

.notes {
    height: 100vh;
    width: 75vw;
}


/* Tablets */
@media (max-width: 768px) {
    .names {
        min-width: 31vw;
    }
}